@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    background-color: lighten(v.$footer,30);

    &__contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 7rem 0;
    }

    &__navegacion{
        display: flex;
        gap: 6rem;
        margin: 5rem 0 10rem 0;
    }

    &__enlace{
        color: v.$footer;

        &:hover{
            color: v.$blanco;
        }
    }
}